//
// Blog
//


//
//  Recent articles Full
//


.article-index {
	margin-top: 1em;
	// @include mq($bp3) {
	// 	margin-top: 3em;
	// }
}


//
// articles
//


.article:nth-child(odd) {
	clear: left;
}

.article {

	//padding-bottom: 3em;
	margin-bottom: 5em;

	@include mq($bp3) {
		width: 49%;
		float: left;

		.article-content {
			width: 85%;
			margin-left: auto;
			margin-right: auto;
		}
	}


	
	.top {
		clear: both;
		text-align: center;
		.article-image {
			img {
				width: 75px;
				height: 75px;
			}
			
		}

	}

	.bottom {
		text-align: center;

		h2 {
			color: $alpha-ui-color;
			text-align: center;

		}

		p {
			// color: $beta-text-color;
			text-align: center;
			font-size: 1.2em;
			//font-weight: 600;
			margin: 0;
			padding: 0;
		}

		.bottom-text {
			padding: 1em;
		}

	}


}

.date {
		font-size: 0.9em;
		color: $gamma-ui-color;
		margin-top: -0.5em;
	}

.date-detail {
		font-size: 0.9em;
		color: $gamma-ui-color;
}



article:last-child {
	border: 0;
	padding-bottom: 0em;
	margin-bottom: 0;
}


