//
// Blog
//


//
//  Recent articles Full
//


.article-index {
	margin-top: 1em;
	@include mq($bp3) {
		margin-top: 3em;
	}
}


//
// articles
//


.article:nth-child(odd) {
	clear: left;
}

.article {

	padding-bottom: 3em;
	margin-bottom: 4em;

	@include mq($bp3) {
		width: 49%;
		float: left;
	}

	
	.top {
		clear: both;
		text-align: center;
		.article-image {
			img {
				width: 150px;
				height: 150px;
			}
			
		}

	}

	.bottom {
		text-align: center;

		h2 {

			text-align: center;

		}

		p {
			text-align: center;
			font-size: 1.3em;
			font-family: $beta-font-family;
		}

	}

	.readmore {
		font-size: 1.3em;
		padding-top: 0; 
		float: left;
		font-family: $beta-font-family;
	}

}

.date {
		font-size: 0.9em;
		color: $gamma-ui-color;
		margin-top: -0.5em;
	}

.date-detail {
		font-size: 0.9em;
		color: $gamma-ui-color;
}



article:last-child {
	border: 0;
	padding-bottom: 0em;
	margin-bottom: 0;
}


